.containers{
    padding-top: 150px;
    padding-right: 80px;
    padding-left: 80px;
    
    
    }
    .main{
    margin: 30px;
    border: 1px solid black;
    
    
    }
    .form{
    padding: 40px;
    
    }
    
    .row{
    padding: 40px;
    }
    .submit{
    margin-left: 500px;
    margin-top: 10px;
    }
    
    .s{
    margin-left: 30%;
    }